{% extends 'base.html' %}
{% block content %}
{% if error %}
<p class="alert alert-primary" role="alert">{{error}}</p>
<br>
<br>
{% endif %}
<h1>SignUp</h1>
<form action="{% url 'signup' %}" method = "POST">
    {% csrf_token %}
    Username:<br/>
    <input type="text" name = "username" />
    <br/>
    Password:<br/>
    <input type="password" name = "password1" />
    <br/>
    Confirm Password:<br/>
    <input type="password" name = "password2" />
    <br/>
    <br/>
    <input type="submit" value = "Sign Up!" class = "btn btn-primary"/>
</form>


{%endblock%}
